@charset "utf-8";

@font-face {
    font-family: "HancomUljuBangudae";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local("HancomUljuBangudae"), url("HancomUljuBangudae.woff2") format("woff2");
}